<a class="button" href="/login">Google Login</a>
<form method="post" action="/loginWithForm">
    <label for="email">Enter email:</label>
    <input type="email" name="email" id="email" required='true' /><br />
    <label for="password">Enter password:</label>
    <input type="password" name="password" id="password" required='true' /><br />
    <input type="submit" value="Login" />
</form>
{% if loginFail %}
    <p>Sorry, there seems to be a problem! Please double-check your login information and try again! If not,
try logging in through google or making an account.</p>
{% endif %}
<a class="button" href="/signup">Signup</a>