<form method="post" enctype="multipart/form-data" action="/signup">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required='true' /><br />
    <label for="email">Enter email:</label>
    <input type="email" name="email" id="email" required='true' /><br />
    <label for="password">Enter password:</label>
    <input type="password" name="password" id="password" required='true' /><br />
    <label for="profile_pic_url">Profile Pic Url:</label>
    <input type="text" name="profile_pic_url" id="profile_pic_url" required='true' /><br />
    <input type="submit" value="Signup" />
</form>